{%extends "base.html"%}




{%block content%}


<div class="container">
    <div class="container-left">
        <img src="" >


    </div>

    <div class="container-right">

        <h1>
            About me

        </h1>

        <p>
            Ik ben Maarten Offringa en ik ben 25 jaar oud en woon in Breda.<br> Ik volg de opleiding accountancy en heb affiniteit met data science.




        </p>

    </div>


</div>



<div class="container1">
    <div class="container-left1">
        <div class="image__overlay">
            <div class="image_title"> Coderen in python
            </div>
        </div>


    </div>

    <div class="container-middel1">




    </div>
    <div class="container-right1">




    </div>


</div>


</body>
</html>



{% endblock%}